/* CSS declarations go here */

#cube { background: #b4a294; }

.cubetable {
  border-spacing: 2px;
}
.cuberow {

}
.blank {
  height: 40px;
  width:40px;
}
.cubefacelet {
  height: 40px;
  width: 40px;
  background: #3a5345;
}
.Blue {
  background: #0000ff;
}