/* CSS declarations go here */

#cube { background: #b4a294; }

.cubetable {
  border-spacing: 2px;
}
.cuberow {

}
.blank {
  height: 40px;
  width:40px;
}
.cubefacelet {
  height: 40px;
  width: 40px;
  background: #830367;
}
.Blue {
  background: #32415d;
}
.Green {
  background: #3a5345;
}
.Orange {
  background: #b1533b;
}
.Red {
  background: #8d2f40;
}
.White {
  background: #dbe9ec;
}
.Yellow {
  background: #f9a12a;
}